*.o
.deps
/acl-parser.cc
/acl-parser.h
/acl-scanner.cc
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/petidomo
/petidomo-*.tar.gz
/ylwrap
Makefile
Makefile.in
lib*.a
